body {
  padding-top: 60px;
  padding-bottom: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, legend {
	text-align: center;
}
div.spacer {
	padding-top: 50px;
}
div.comment {
	font-size: 18px;
	text-align: center;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
