{% extends 'portal/base_template.html' %}

{% block description %}Amministrazione{% endblock %}

{% block title %}Accesso amministratore{% endblock %}

{% block content %}

		<form class="form-horizontal" method="post" action="{% url 'portal:login' %}">
			{% csrf_token %}
			<fieldset>

			<!-- Form Name -->
			
		    {% if error_message %}
			<div class="col-sm-10 col-lg-10 col-sm-offset-2">
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Chiudi"><span aria-hidden="true">&times;</span></button>
					{{ error_message }}
				</div>
			</div>
		    {% endif %}

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="username">Username*</label>  
			  <div class="col-md-4">
			  <input id="username" name="username" type="text" placeholder="Username"
					class="form-control input-md" pattern="[a-zA-Z@.+-_]*" maxlength="30"
					required {% if not username %}autofocus{% endif %} value="{{ username }}">
				
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Password*</label>
			  <div class="col-md-4">
				<input id="password" name="password" type="password" placeholder="Password"
					class="form-control input-md" required {% if username %}autofocus{% endif %}>
				
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group" align="right">
			  <label class="col-md-4 control-label" for="submit"></label>
			  <div class="col-md-4">
				<button id="submit" name="submit" class="btn btn-primary" type="submit">Accedi</button>
			  </div>
			</div>
			
			<input type="hidden" id="next" name="next" value="{{ next }}" />

			</fieldset>
		</form>


{% endblock %}
