{% extends 'portal/base_template.html' %}
{% load staticfiles %}
{% load portal_filters %}{# See templatetags/portal_filters.py for filter definition #}

{% block description %}Linux Day{% endblock %}
{% block title %}Lista partecipanti{% endblock %}
{% block content %}

		<div class="row">
			<div class="col-sm-12"><h2>Riepilogo prenotazione magliette</h2></div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 scroll">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Taglia</th><th>Quantit&agrave;</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>S</th>
							<th>{{ tshirts_s }}</th>
						</tr>
						<tr>
							<th>M</th>
							<th>{{ tshirts_m }}</th>
						</tr>
						<tr>
							<th>L</th>
							<th>{{ tshirts_l }}</th>
						</tr>
						<tr>
							<th>XL</th>
							<th>{{ tshirts_xl }}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 scroll">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ID</th><th>Cognome</th><th>Nome</th><th>Data reg.</th><th>Taglia</th>
						</tr>
					</thead>
					<tbody>
						{% for p in participants %}
						<tr>
							<th><a href="{% url 'portal:participant_details' participant_id=p.participant_id %}">{{ p.participant_id }}</a></th>
							<th>{{ p.last_name }}</th>
							<th>{{ p.first_name }}</th>
							<th>{{ p.registration_date }}</th>
							<th>{{ p.tshirt|tshirt_size }}</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12"><h3>Prenotati successivi alla deadline</h3></div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 scroll">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Taglia</th><th>Quantit&agrave;</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>S</th>
							<th>{{ more_tshirts_s }}</th>
						</tr>
						<tr>
							<th>M</th>
							<th>{{ more_tshirts_m }}</th>
						</tr>
						<tr>
							<th>L</th>
							<th>{{ more_tshirts_l }}</th>
						</tr>
						<tr>
							<th>XL</th>
							<th>{{ more_tshirts_xl }}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 scroll">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ID</th><th>Cognome</th><th>Nome</th><th>Data reg.</th><th>Taglia</th>
						</tr>
					</thead>
					<tbody>
						{% for p in more_participants %}
						<tr>
							<th><a href="{% url 'portal:participant_details' participant_id=p.participant_id %}">{{ p.participant_id }}</a></th>
							<th>{{ p.last_name }}</th>
							<th>{{ p.first_name }}</th>
							<th>{{ p.registration_date }}</th>
							<th>{{ p.tshirt|tshirt_size }}</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
{% endblock %}
